.kehuCount{
    border: solid 1px rgba(242,242,242,0.5);
    float: left;
    height: 40px;
    width: 268px;
}
.kehuCount span{
    float: left;
    width: 133px;
    height: 40px;
    line-height: 40px;
    text-align:center;
}
.kehuCount span:nth-child(1){
    border-left: solid 1px rgba(242,242,242,0.5);
    /*font-size: 13px;*/
}
.kehuCount span:nth-child(2){
    border-left: solid 1px rgba(242,242,242,0.5);
    cursor:pointer;
    font-size: 17px;
}

.tableCount{
    border: solid 1px rgba(242,242,242,0.5);
    float: left;
    height: 40px;
    width: 201px;
}
.tableCount span{
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align:center;
}
.tableCount span:nth-child(2){
    border-left: solid 1px rgba(242,242,242,0.5);
    cursor:pointer;
    font-size: 17px;
}